* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
/*body {
  font-family: 'Source Sans Pro', Regular;

 }*/
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
.task_1{
  padding-bottom: 15%;
  background-image: url("./images/headphones_hero_1.jpg");
}

 /* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */

 /*  NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
.nav-links :hover {
  color: #FF6565;
}
 .menu li {
  padding: 5px 14px;
 }
.center {
margin-top: 17%;
margin-left: 20%;
margin-right: 20%;
margin-bottom: -1%;
color: #fff;
text-align: center;
}
button {
  background-color: #FF6565;
  border: none;
  border-radius: 22px;
  color: white;
  height: 42px;
  width: 180px;
  margin-top: 65px;
  margin-bottom: 40px;
}

 /*RESPONSùIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 }
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

p {
  margin-left: 10%;
  margin-right: 10%;
}
 /*new sections*/



 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu {
  display:none;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
.logo {
  margin-left: 15%;
}
 }

 /*new section what we do*/
/* #what_we_do {

 }*/
 .center_1{
margin-top: 7%;
margin-left: 15%;
margin-right: 15%;
text-align: center;
 }
 span {
  font-size: 120px;
  color: #FF6565;
  padding-left: 5%;
  padding-right: 5%;
 }

 .whatext {
  margin-top: 5%;
 }
 /*----------------------------*/
 .componnt {
/*  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20%;*/
  margin-top: 10%;
  margin-bottom: 20%;
  display: flex;
  flex-wrap: wrap;
}
.content {
/*  width: 25%;
  height: 100%;*/
  width: 200px;
  height: 100%;
  margin: auto;
}
